header, footer, main, aside, nav, div {
  padding: 2%;
  border: solid 2px #000000;
  margin: 10px;
}
.banner {
  height:100px;
  background: aqua;
}

.navigation {
  float:left;
  width:15%;
  height:400px;
  background:#7fff00;
}

.main {
  float:left;
  width:50%;
  height:400px;
  background: purple;
}

.complementary {
  float:left;
  width:15%;
  height:400px;
  background:#7fff00;
}

.contentinfo {
  clear:both;
  height:100px;
  background: aqua;
}

.headercontent {
  margin-left: 100px;
  margin-top: 20px;
  background: #7fff00;
  width: 160px;
  float: left;
}

.navcontent {
  margin: 30px;
  background: yellow;
  height: 30px;
}

.asidecontent {
  background: aqua;
  height: 200px;
}

.maincontent {
  margin-left: 80px;
  background: aqua;
  height: 200px;
  width: 200px;
  float: left;
}