
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  color: blue;
  background-color: aqua;
  text-align: center;
  padding: 20px;
}
.club:hover{
  cursor: pointer;
}
.club {
  font-size: 15px;
  text-decoration: underline;
  top: 60px;
  right: 30px;
  position: fixed;
  height: 60px;
  width: 120px;
  background-color: lightgreen;
  border-color: green;
}
.nav {
  width: 140px;
  padding: 30px 20px 60px 20px;
  float: left;
}

h2 {
  text-align: center;
  margin-top: 0px;
}

p {
  margin-left: 30px;
}

.main {
  padding: 15px 20px 20px 20px;
  box-sizing: border-box;
  background-position: right top;
  margin-left: 160px;
}

.footer {
  color: blue;
  background-color: aqua;
  text-align: center;
  padding: 20px;
}

img {
  float: left;
  margin-left: 40px;
}

.content {
  background: url(../../html_css_2/base/images/maketball.png)right top repeat-y,
    url(../../html_css_2/base/images/yellow.png) left top repeat-y;
}